<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <div class="form-produtos">
        <form class="produtos">
            <p>Nome:</p>
            <input type="text" placeholder="nome do produto">
            <p>Marca:</p>
            <input type="text" placeholder="nome da marca">
            <p>Preço:</p>
            <input type="text" placeholder="valor do produto">
            <p>Categoria:</p>
            <input type="text" placeholder="categoria do produto">
            <p>Quantidade:</p>
            <input type="text" placeholder="quantidade de produto">
            <p>Codigo:</p>
            <input type="text" placeholder="codigo do produto">
            <p>Peso:</p>
            <input type="text" placeholder="peso do produto">
        </form>
    </div>
</body>
</html>