body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.form img{
    width: 210px;
}
.cadastro-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 105%;
}
.cadastro-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}
.cadastro-form input{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}
.cadastro-form .nome, .cpf, .matricula
.senha, input{
    width: 230px;
}
.cadastro-form .cpf,
.senha, p{
    font-size: 14px;
}
.cadastro-form a{
    margin: 10px 0;
}
.cadastro-form button{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    background-color: black;
    color: #fff;
}